/// Faded-border mixin
/// @param {Border radius} $direction - border-radius

@mixin faded-border($radius: null) {
  &::before {
    content: '';
    position: absolute;
    inset: 0;
    padding: 1.2px;
    background: linear-gradient(180deg, rgba(230, 221, 254, 0.25) -4.86%, rgba(230, 221, 254, 0) 100%);
    mask: 
      linear-gradient(#fff 0 0) content-box, 
      linear-gradient(#fff 0 0);
    mask-composite: exclude;

    @if $radius != null {
      border-radius: $radius;
    }

    @content;
  }
}
