.app-info-2 {
  margin-top: 100px;

  @include media('>1367') {
    padding: 0 84px;
    font-size: 64px;
  }

  @include mediaL {
    padding: 0 42px;
  }

  @include mediaMT {
    padding: 0 8px;
  }

  .slider-container {
    position: relative;
    display: flex;

    @include mediaD {
      padding-bottom: 178px;
    }
  
    @include mediaT {
      padding-bottom: 150px;
    }

    @include mediaM {
      padding-bottom: 95px;
    }

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      inset-inline-start: 0;
      inset-inline-end: 0;
      border-bottom: 1px solid $color-grey5;

      @include mediaM {
        display: none;
      }
    }
  }

  .swiper {
    overflow: hidden;
    padding-inline-end: 20px;

    &:not(.swiper-initialized) {
      .swiper-slide:not(:first-child) {
        display: none;
      }
    }
    
    @include mediaTD {
      width: calc(100% - 244px);
    }

    @include mediaM {
      width: 100%;
    }
  }

  .swiper-thumbs {
    display: flex;
    align-items: end;
    height: 500px;
    width: 244px;
    padding-bottom: 24px;

    .swiper-wrapper {
      height: 424px;
      flex-direction: column;
    }

    .swiper-slide {
      position: relative;
      padding-inline-start: 30px;
      color: $color-grey50;
      cursor: pointer;

      &::before {
        content: '';
        position: absolute;
        inset-inline-start: 0;
        top: 0;
        display: block;
        width: 6px;
        height: 109px;
        border-radius: 5px;
        opacity: 0.35;
        background-color: #3b3b44;
      }

      &:first-child {
        height: 139px !important;
      }

      &:nth-child(2) {
        height: 156px !important;
      }

      &:last-child {
        height: 109px !important;
      }

      &.swiper-slide-thumb-active {
        .thumb-title {
          color: $color-white;
        }

        &::before {
          background-color: $color-white;
          box-shadow: 0 0 25px 0 #a097b4;
          opacity: 1;
        }
      }
    }

    @include mediaM {
      display: none;
    }
  }

  .thumb-title {
    font-size: 24px;
  }

  .thumb-text {
    margin-top: 16px;
    font-size: 14px;
  }

  .swiper-slide {
    .text-block {
      display: flex;
      flex-direction: column;

      @include mediaTD {
        align-items: start;
      }

      @include mediaM {
        align-items: center;
        text-align: center;
      }

      p {
        font-size: 16px;
        color: $color-grey50;

        @include mediaTD {
          width: 340px;
        }
      }
    }

    .subtitle {
      @include mediaTD {
        font-size: 24px;
      }

      @include mediaM {
        font-size: 22px;
      }
    }

    .title {
      margin: 16px 0 25px;

      @include mediaTD {
        width: 530px;
      }

      @include media('>1367') {
        font-size: 64px;
      }

      @include mediaL {
        font-size: 48px;
      }

      @include mediaT {
        font-size: 44px;
      }

      @include mediaM {
        font-size: 36px;
      }
    }

    .btn-container {
      @include mediaD {
        margin-top: 144px;
      }

      @include mediaT {
        display: none;
      }

      @include mediaM {
        display: flex;
        justify-content: center;
      }
    }

    .img-container {
      @include mediaD {
        position: absolute;
        top: 195px;
      }

      @include media('>1367') {
        inset-inline-start: 355px;
      }

      @include mediaL {
        inset-inline-start: 30.4%;
      }

      @include mediaMT {
        margin: 30px 20px 60px;
      }

      picture {
        display: block;
        padding-bottom: 40.87%;
        height: 0;
      }

      img {
        width: 100%;
      }
    }
  }

  .swiper-pagination-bullets.swiper-pagination-horizontal {
    @include mediaM {
      bottom: 20px;
    }
  }
}
