footer {
  @include mediaTD {
    margin-top: -30px;
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1440px;
  }

  .divider {
    position: relative;
    border-bottom: 1px solid $color-grey5;
    margin: 28px 0;
    width: 100%;
  
    picture {
      position: absolute;
      top: -28px;
      inset-inline-start: 50%;
      transform: translateX(-50%);
      background-color: $color-grey95;
      padding: 0 85px;
      z-index: 1;
    }
  }

  .f-cols {
    display: grid;
    column-gap: 60px;
    width: 100%;
    align-items: center;
    
    @include mediaTD {
      grid-template-columns: 1fr 166px 1fr;
      margin-top: 80px;
    }

    @include mediaM {
      grid-template-columns: repeat(2, 1fr);
      margin-top: 60px;
    }
  }

  .f-col {
    display: flex;
    justify-content: center;

    &:nth-child(2) {
      @include mediaM {
        display: none;
      }
    }

    ul {
      @include media('>1367') {
        display: grid;
        grid-template-columns: repeat(4, auto);
        column-gap: 40px;
      }

      @include mediaL {
        display: grid;
        grid-template-columns: repeat(2, auto);
        grid-template-rows: repeat(2, auto);
        gap: 40px;
      }

      @include mediaMT {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 20px;
      }
    }

    li {
      color: $color-grey50;
    }

    .btn {
      width: 100%;
      text-align: center;
      font-size: 20px;
    }
  }

  .copyright {
    margin: 63px 0;
    color: $color-grey50;
  }
}
