.img-txt-info {
  display: flex;
  justify-content: center;

  .container {
    max-width: 1204px;
    
    @include mediaTD {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      align-items: center;
    }

    @include mediaD {
      column-gap: 36px;
    }

    @include mediaT {
      column-gap: 61px;
    }

    @include mediaM {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  .img-container {
    padding-bottom: 100.35%;
    height: 0;

    @include mediaM {
      margin: 0 20px;
    }

    img {
      width: 100%;
    }
  }

  .text-info {
    display: flex;
    flex-direction: column;
    
    @include mediaTD {
      align-items: start;
    }

    @include mediaM {
      margin-top: 40px;
      align-items: center;
      text-align: center;
    }

    p {
      font-size: 16px;
      color: $color-grey50;
      width: 340px;
    }
  }

  .subtitle {
    font-size: 24px;
  }

  .title {
    margin: 15px 0 24px;

    @include mediaD {
      font-size: 48px;
    }

    @include mediaT {
      font-size: 34px;
    }
  }

  .buttons {
    margin-top: 48px;
  }

  .btn-dark {
    margin-inline-end: 18px;
  }

  &:not(.reversed) {
    margin-top: 150px;

    .text-info {
      @include mediaD {
        margin: -74px 0 0 88px;
      }
    }
  }

  &.reversed {
    margin-top: 118px;

    .text-info {
      @include mediaD {
        margin: -20px 0 0 90px;
      }

      @include mediaM {
        order: 1;
      }
    }
  }
}
