.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 78px;

  h1,
  h2 {
    @include mediaD {
      font-size: 80px;
    }

    @include mediaT {
      font-size: 60px;
    }

    @include mediaM {
      font-size: 45px;
    }
  }

  h1 {
    span {
      display: inline-block;
      vertical-align: top;
      margin-inline-end: 5px;
      padding-top: 9px;
      font-size: 42px;
    }
  }

  h3 {
    margin: 9px 0 2px;

    @include mediaD {
      font-size: 42px;
    }

    @include mediaT {
      font-size: 32px;
    }

    @include mediaM {
      font-size: 26px;
    }
  }

  p {
    margin-top: 38px;
    color: $color-grey50;
    font-size: 18px;
    line-height: 1.5;
  }

  .intro-buttons {
    display: flex;
    justify-content: center;
    margin-top: 46px;
  }

  .btn {
    padding: 18px 32px;
    font-size: 20px;

    &:nth-child(2) {
      margin-inline-start: 12px;
    }

    @include mediaTD {
      padding: 18px 32px;
      font-size: 20px;
    }

    @include mediaM {
      padding: 18px 24px;
      font-size: 16px;
    }
  }

  .intro-img {
    height: 0;
    padding-bottom: 54.38%;
    z-index: -1;

    img {
      width: 100%;
    }

    @include media('>1367') {
      margin-top: -126px;
    }

    @include mediaL {
      margin-top: -70px;
    }

    @include mediaT {
      margin-top: -20px;
    }
  }

  .partners {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
  }

  .partners-title {
    font-size: 18px;
    line-height: 1.5;
    color: $color-grey50;
  }

  .partners-list {
    display: grid;
    align-items: center;
    margin-top: 32px;

    @include mediaD {
      grid-template-columns: 84px 148px 50px 146px 94px;
      column-gap: 62px;
    }

    @include mediaMT {
      grid-template-areas: 'partner-1 partner-2' 'partner-3 partner-4';
      row-gap: 36px;
    }

    picture {
      display: block;
      height: 0;
    }

    li {
      @include mediaMT {
        display: flex;
        align-items: center;
      }

      &:first-child {
        picture {
          padding-bottom: 39.4%;
        }

        @include mediaMT {
          grid-area: partner-1;
          justify-self: start;
        }
      }

      &:nth-child(2) {
        picture {
          padding-bottom: 23%;
        }

        @include mediaMT {
          grid-area: partner-2;
          justify-self: end;
        }
      }

      &:nth-child(3) {
        picture {
          padding-bottom: 68.1%;
        }

        @include mediaMT {
          display: none;
        }
      }

      &:nth-child(4) {
        picture {
          padding-bottom: 18.5%;
        }

        @include mediaMT {
          grid-area: partner-3;
          justify-self: start;
        }
      }

      &:last-child {
        picture {
          padding-bottom: 36.2%;
        }

        @include mediaMT {
          grid-area: partner-4;
          justify-self: end;
        }
      }
    }
  }
}
