.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 78px;

  h1,
  h2 {
    font-size: 80px;
  }

  h1 {
    span {
      display: inline-block;
      vertical-align: top;
      padding-top: 9px;
      font-size: 42px;
    }
  }

  h3 {
    margin: 9px 0 2px;
    font-size: 42px;
  }

  p {
    margin-top: 38px;
    color: $color-grey50;
    font-size: 18px;
    line-height: 1.5;
  }

  .intro-buttons {
    display: flex;
    justify-content: center;
    margin-top: 46px;
  }

  .btn {
    padding: 18px 32px;
    font-size: 20px;

    &:nth-child(2) {
      margin-inline-start: 12px;
    }
  }

  .intro-img {
    height: 0;
    padding-bottom: 54.38%;
    margin-top: -126px;
    z-index: -1;

    img {
      width: 100%;
    }
  }

  .partners {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
  }

  .partners-title {
    font-size: 18px;
    line-height: 1.5;
    color: $color-grey50;
  }

  .partners-list {
    display: grid;
    grid-template-columns: 84px 148px 50px 146px 94px;
    align-items: center;
    column-gap: 62px;
    margin-top: 32px;

    picture {
      display: block;
      height: 0;
    }

    li {
      &:first-child picture {
        padding-bottom: 39.4%;
      }

      &:nth-child(2) picture {
        padding-bottom: 23%;
      }

      &:nth-child(3) picture {
        padding-bottom: 68.1%;
      }

      &:nth-child(4) picture {
        padding-bottom: 18.5%;
      }

      &:last-child picture {
        padding-bottom: 36.2%;
      }
    }
  }
}
